@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--vt-c-accent);
  transition: 0.4s;
}

button {
  border-radius: .4rem;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  border: 0.1rem solid var(--vt-c-grey);
  color: var(--color-text);
  padding: .5rem;
}

button:hover {
  border: 0.1rem solid var(--vt-c-accent);
}

input {
  border-radius: .4rem;
  background-color: transparent;
  border: 0.1rem solid var(--vt-c-grey);
  box-shadow: none;
  box-sizing: inherit;
  height: 2rem;
  padding: .5rem .7rem .5rem;
  width: 100%;
  line-height: 1.15;
}

label {
  line-height: 2rem;
  font-size: 0.8rem;
}

input[type="checkbox"]  {
  width: 1.2rem;
}

@media (prefers-color-scheme: dark) {
 input {
  color: var(--vt-c-text-dark-1)
 }
}

input:focus {
  outline: 0;
}

input:not(.input-error):not(.input-success):focus  {
  border-color: var(--vt-c-accent);
}

.input-error {
  border-color: var(--vt-c-error);
}

.input-success:focus {
  border-color: var(--vt-c-success);
}

.icon-button {
  width: fit-content;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: var(--color-text);
  cursor: pointer;
}

.icon-button > i {
  font-size: 1.1rem
}

.icon-button:hover {
  border: none;
  color: var(--vt-c-accent)
}

button:disabled {
  opacity: 50%;
  cursor: auto;
}